<div class="mdl-layout__tab-panel" id="about">
  <section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--12-col">
      <h4>About</h4>
      <p>
        Notifyer is a proof of concept solution to a problem I've been thinking about for a long time. Namely:
      </p>
      <ul>
        <li>How do I get a daily quote from my curated collection? </li>
        <li>How can I effortlessly resurface a buried quote so I can re-apply it's inspiration and lessons to the present? </li>
      </ul>
      <p>
         Using Microsoft's OneNote as a datastore, Notifyer utilizes OneNote's API to retrieve notes from a given section. 
         A note is then selected to be pushed to your devices via Pushbullet's API.
      </p>
      <p>
        The ideal use case is to schedule Notifyer's <em><strong>random</strong></em> method to be invoked periodically. 
        However for the purposes of this demo, users can select a note to be pushed immediately.
      </p>
      <% if @has_pb_access_token && @has_access_token %>
        <p>Try pushing the random note button below. </p>
      <% end %>
    </div>
  </section>
</div>