<div class="mdl-layout__tab-panel" id="help">
  <section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--12-col">
      <h4>Help</h4>

      <ul class="toc">
<!--        <h4>Contents</h4>-->
        <a href="#lorem1">Why don't I see any notes?</a>
        <a href="#lorem2">I see note's but I can't push them.</a>
        <a href="#no-push">I pushed a note but I don't see it on my device.</a>
        <a href="#security">What about security?</a>
      </ul>

      <section>
        <h5 id="lorem1">Why don't I see any notes?</h5>
        <p>
          If you signed in with your own Microsoft account, please ensure you have a section called "Quotes". 
          After adding a few pages to that section, ensure OneNote syncs so that you can see notes within Notifyer.
        </p>
        <p>
          If that doesn't work, you might be having cookie issues, try <a href="http://www.allaboutcookies.org/manage-cookies/clear-cookies-installed.html" target="_blank">clearing your cookies for this domain</a> (notifyer-quotes.herokuapp.com). Otherwise, get in touch.
        </p>
      </section>

      <section>
        <h5 id="lorem2">I see note's but I can't push them.</h5>
        <p>
          There might be a problem with your Pushbullet authorization. Try each of the following then try again:
        </p>
        <ul>
          <li>Clear your cookies for this site, then visit the <a href="/">homepage</a> and try logging into Pushbullet again.</li>
          <li>
            Check Pushbullet's <%= link_to "connected apps", @pushbullet_revoke_url, target: "_blank" %> page for a "Notifyer" entry. 
            If you see one, delete it, then visit the <a href="/">homepage</a> and try logging into Pushbullet again.
          </li>
        </ul>
        <p>
          If that doesn't work, you might be having cookie issues, try <a href="http://www.allaboutcookies.org/manage-cookies/clear-cookies-installed.html" target="_blank">clearing your cookies for this domain</a> (notifyer-quotes.herokuapp.com). Otherwise, get in touch.
        </p>
      </section>
      
      <section>
        <h5 id="no-push">I pushed a note but I don't see it on my device.</h5>
        <p>
          There seems to be a terrible lag for new Pushbullet installations on iOS devices, if you're using iOS, this might be the problem. 
          For best results, try installing <a href="https://chrome.google.com/webstore/detail/chlffgpmiacpedhhbkiomidkjlcfhogd" target="_blank">Pushbullet in Chrome</a> or on an <a href="https://play.google.com/store/apps/details?id=com.pushbullet.android" target="_blank">Android device</a>.
        </p> 
      </section>
       
       <section>
        <h5 id="security">What about security?</h5>
        <p>
          Notifyer accesses your accounts via vendor API's which use OAuth for authentication; 
          which is to say much of the safety is managed by <a href="https://docs.pushbullet.com/#oauth" target="_blank">Pushbullet</a> and
          <a href="https://msdn.microsoft.com/en-us/library/office/dn575435.aspx#sectionSection4" target="_blank">OneNote</a>. 
          All communication between Notifyer and vendor's are done over SSL.
        </p>
        <p>None of your information is stored by Notifyer.</p>
        <p>
          Once you're finished testing Notifyer be sure to revoke it's access on <%= link_to "Pushbullet", @pushbullet_revoke_url, target: "_blank" %> 
          and <%= link_to "OneNote", @onenote_revoke_url, target: "_blank" %> (if you used your own account).
        </p>
      </section>
    </div>
  </section>
</div>