<div class="mdl-layout__tab-panel is-active" id="notes">
  <% @notes.each do |note| %>
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text">
        <h4><%= note[:title] %></h4>
        <%= note[:body][:html] %>
      </div>
      <div class="mdl-card__actions">
        <%= form_tag push_note_path do %>
          <%= hidden_field_tag(:title, note[:title]) %>
          <%= hidden_field_tag(:body, note[:body][:text]) %>
          <%= hidden_field_tag(:url, note[:url]) %>
          <button type="submit" name="submit" value="push" <% if !@has_pb_access_token %>disabled<% end %> class="mdl-button mdl-button--accent mdl-js-ripple-effect">
            Push Note
          </button>
        <% end %>
      </div>
    </div>
<!--
    <button title="Push Note" type="submit" name="submit" value="push" <% if !@has_pb_access_token %>disabled<% end %> class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-js-ripple-effect">
      <i class="material-icons">send</i>
    </button>
-->
  </section>
  <% end %>
</div>