<% provide(:title, 'Notes') %>
  <div class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          <h3>Notifyer</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
<!--          <a href="/" class="mdl-layout__tab">Home</a>-->
          <a href="#notes" class="mdl-layout__tab is-active">Notes</a>
          <a href="#help" class="mdl-layout__tab">Help</a>
          <a href="#about" class="mdl-layout__tab">About</a>
<!--
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
            <i class="material-icons">add</i>
          </button>
-->
        </div>
      </header>
      
      <main class="mdl-layout__content">
        <%= render 'notes' %>
        <%= render 'help' %>
        <%= render 'about' %>
        <section class="section--footer mdl-grid" style="background-color: white"></section>
        <%= render 'partials/footer' %>
      </main>
    </div>
    <% if @has_pb_access_token %>
      <%= form_tag push_random_note_path do %>
        <button type="submit" name="submit" value="push" id="view-source" class="animated pulse infinite mdl-button mdl-js-button mdl-button--fab-mini mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
          <i class="material-icons">shuffle</i>
        </button>
        <div class="mdl-tooltip" for="view-source">
          Push Random Note
        </div>
      <% end %>
    <% end %>
  </div>
