<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer--left-section">
    <div class="mdl-logo_"><h5>Notifyer</h5></div>
    <ul class="mdl-mini-footer--link-list">
      <li><a href="http://byronbuckley.com">Byron Buckley</a></li>
      <li><a href="mailto:hello@byronbuckley.com">Contact</a></li>
<!--      <li><a href="#features">Logout</a></li>-->
<!--      <li><a href="#">Privacy &amp; Terms</a></li>-->
    </ul>
  </div>
</footer>