<div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
  <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Notifyer</span>
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <div class="demo-ribbon mdl-color--primary"></div>
  <main class="demo-main mdl-layout__content">
    <div class="demo-container mdl-grid">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

       <div class="mdl-card mdl-shadow--2dp mdl-card-wide">
          <div class="mdl-card__title" style="background-image: url(<%= asset_url('onenote_pushbullet.jpg') %>)">
                <h2 class="mdl-card__title-text">Welcome</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <p>
              Are you the type to collect quotes that you rarely ever see again? <br>
              Use Notifyer to schedule the delivery of randomly selected quotes from your curated collection in OneNote. <br>
              Quotes are delivered via push notifications to your devices running Pushbullet.
            </p>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a href="#onenote" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
              Get Started
            </a>
          </div>
<!--
          <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
              <i class="material-icons">share</i>
            </button>
          </div>
-->
        </div>
         
        <br><br>
         
        <div class="flex-wrap">
         <div class="mdl-card mdl-card--custom mdl-card--onenote mdl-shadow--2dp flash-card_">
          <div id="onenote" class="mdl-card__title">
            <h3>
              OneNote
            </h3>
          </div>
          <div class="mdl-card__supporting-text  mdl-card--expand">
           <p>Sign in with the demo account. <br>
              u: notifyer at outlook dot com <br>
              p: nqLiveDem0
            </p>
            <p>Or sign into your own account. Make sure you have a "Quotes" section with a few pages in it.</p>
          </div>
          <div class="mdl-card__actions mdl-card--border">
              <button data-is-visible="<%= !@has_access_token %>" class="mdl-button mdl-button--full mdl-js-button mdl-js-ripple-effect" type="button" id="onenote_auth" onclick="Login('<%=raw(@auth_url)%>')">
                Authorize OneNote
              </button>
            <%= link_to "Revoke OneNote", @onenote_revoke_url, {:id => "onenote_revoke", "data-is-visible" => @has_access_token, :target => "_blank", :class => "mdl-button mdl-button--full mdl-js-button mdl-js-ripple-effect"} %>
          </div>
        </div>
         
         <div class="mdl-card--spacer">
           <i class="material-icons">add_circle</i>
         </div>
         
         <div class="mdl-card mdl-card--custom mdl-card--pushbullet mdl-shadow--2dp flash-card_">
          <div class="mdl-card__title">
            <h3>
              Pushbullet
            </h3>
          </div>
          <div class="mdl-card__supporting-text  mdl-card--expand">
            <ol>
              <li><a href="https://www.pushbullet.com/" target="_blank">Get an account.</a></li>
              <li>
                <a href="https://www.pushbullet.com/apps" target="_blank" id="get-a-pb-app">Get a Pushbullet App.</a>
                <div class="mdl-tooltip" for="get-a-pb-app">
                  For best results try the Chrome Extension or the Android app.
                </div>
              </li>
            </ol>
            <br>
            <p>If you already use Pushbullet you only need to authorize it.</p>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <%= link_to "Authorize Pushbullet", raw(@pushbullet_auth_url), {:id => "pb_auth", "data-is-visible" => !@has_pb_access_token, :class => "mdl-button mdl-button--full mdl-js-button mdl-js-ripple-effect"} %>
            <%= link_to "Revoke Pushbullet", raw(@pushbullet_revoke_url), {:id => "pb_revoke", "data-is-visible" => @has_pb_access_token, :target => "_blank", :class => "mdl-button mdl-button--full mdl-js-button mdl-js-ripple-effect"} %>
          </div>
        </div>
        </div>
        <br><br><br> 
        <div class="cta">
          <%= link_to "View Notes", notes_path, {"data-is-disabled" => !(@has_pb_access_token && @has_access_token), :id => "view-notes", :class => "mdl-button mdl-button--full mdl-button--large mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect"} %> 
        </div>
      </div>
    </div>
    <%= render 'partials/footer' %>
  </main>
</div>