.mdl-card-wide.mdl-card {
//  width: 512px;
  width: 100%;
}
.mdl-card-wide > .mdl-card__title {
  color: #000;
  height: 176px;
//  background: asset-url("onenote_pushbullet.jpg") center / cover;
  background-position: bottom;
  background-size: cover;
  filter: invert(100%);
}
.mdl-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card--custom {
  h3 {
    margin-top: 0;
  }
  .mdl-card__title, .mdl-card__supporting-text, .mdl-button, a {
    color: white;
  }
  ol, ul {
    margin: 0;
    padding: 0 16px;
  }

}

.mdl-card--onenote {
  background-color: #80397B;
}

.mdl-card--pushbullet {
  background-color: #4AB367;
}

.mdl-card--spacer {
  align-self: center;
  text-align: center;
  
  .material-icons {
    font-size: 54px;
    color: #795548;
    padding: 20px;
  }
}

@media (max-width: 360px) {
  .mdl-card {
    width: auto;
  }
  
  .mdl-card-wide {
    .mdl-card__title {
      background-position: left;
    }
  }
}