.mdl-button--full {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.mdl-button--large {
  font-size: 16px;
  height: 48px;
  line-height: 48px;
}

.mdl-button[data-is-visible="false"] {
  display: none;
}

.mdl-button[data-is-disabled="true"],
.mdl-button--accent[data-is-disabled="true"],
.mdl-button--accent[disabled][disabled] {
  background-color: rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.26) !important;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  pointer-events: none;
}