#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

.flash-card.mdl-card {
  width: 100%;
//  height: 256px;
  background: #3E4EB8;
}
.flash-card > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.flash-card > .mdl-card__title,
.flash-card > .mdl-card__actions > .mdl-button {
  color: #fff;
}