.flex-wrap {
  display: flex;
  justify-content: space-between;
  > div {
    width: 32%;
  }
}

.cta {
  text-align: center;
}

@media (max-width: 1024px) {
  .flex-wrap {
    flex-direction: column;
    > div {
    width: auto;
    }
  }
}